    <link rel="stylesheet" media="screen" href="css/style.css">
</head>
<body>
    <nav>
        <a href="/" title="What is MQ?">WHAT</a>
        <a href="/who" title="Who is Gartner?">WHO</a>
        <a href="/how" title="How to read MQ?">HOW</a>
        <a href="/why" title="Why should YOU care?">WHY</a>
    </nav>

    <div id="breaking-news-container">
      <div id="breaking-news-colour" class="slideup animated">
        
      </div>  
       <span class="breaking-news-title delay-animated slidein">
          // BREAKING //
        </span> 
        <a class="breaking-news-headline delay-animated2 fadein marquee">
         <%= company %> at <%= city %>, <%= country %> named by Gartner in MQ on <%= date %>
        </a>  
    </div>  

        
    <div class="page-wrapper">

