    <link rel="stylesheet" media="screen" href="css/style.css">
</head>
<body>
    <nav>
        <a href="/" title="What is MQ?">WHAT</a>
        <a href="/who" title="Who is Gartner?">WHO</a>
        <a href="/how" title="How to read MQ?">HOW</a>
        <a href="/why" title="Why should YOU care?">WHY</a>
    </nav>

    <div class="page-wrapper">

