<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>What is Magic Quadrant (MQ)?</title>
<%- include('partials/header.ejs') %>
        <h1>What is Magic Quadrant (MQ)?</h1>

        <img src="img/ZoomGartner.PNG" alt="Zoom boasting about MQ" style="width: 500px" />

        <section class="column">
            <div class="quadrant2">
                <h2>Why is Zoom so proud to be mentioned by Gartner Magic Quadrant in 2020?</h2>
            </div>
            <div class="quadrant3">
                <h2>Magic Quadrant</h2>
                <p>
                    is a series of market research reports published by consulting firm Gartner to demonstrate market trends and positioning of players
                    <strong>in specific<br /> technology<br /> industry.</strong>
                </p>
            </div>
        </section>

        <section class="column">
            <div class="quadrant1">
                
                <h2>Vendors are rated by two criteria: completeness of vision → and ability to execute ↑.</h2>

            </div>           
            <div class="quadrant4">
                <p style="color: white;"><strong>Completeness of Vision: </strong>Reflects the vendor’s innovation, whether the vendor drives or follows the market, and if the vendor’s view of how the market will develop matches Gartner’s perspective.
                <span style="color: #888;"><strong>and<br />Ability to Execute:</strong> Summarizes factors such as the vendor’s financial viability, market responsiveness, product development, sales channels and customer base.</span>
                </p>
            </div>
        </section>

    </div>
<%- include('partials/footer.ejs') %>