<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Who is Gartner?</title>
<%- include('partials/header.ejs') %>
        <h1>Who is Gartner?</h1>

        <img src="img/Gartner.jpg" alt="Gartner's Headquarters in Stamford, CT" style="width: 500px" />

        <section class="column">
            <div class="quadrant2">
                <h2>Gartner</h2>
                <p>is the world’s leading research and advisory firm, and the most influential analyst organization in the world given their broad reach and deep insight, based on more data points than any other analyst firm in the game.</p>
            </div>
            <div class="quadrant3">
                <h2>Founded in 1976</h2>
                <p>
                    with headquarters in Stamford, Connecticut and over 15,000 employees this global company, serving more than 14,000 client enterprises around the world.
                </p>
            </div>
        </section>

        <section class="column">
            <div class="quadrant1">
                <h4>Gartner's top 9 strategic technology trends for 2021:</h4>
                    <ol>
                        <li>Internet of Behaviors</li>
                        <li>
                            Total experience
                        </li>
                        <li>
                            Privacy-enhancing computation
                        </li>
                        <li>
                            Distributed cloud
                        </li>
                        <li>
                            Anywhere operations
                        </li>
                        <li>
                            Cybersecurity mesh
                        </li>
                        <li>
                            Intelligent composable business
                        </li>
                        <li>
                            AI engineering
                        </li>
                        <li> Hyperautomation</li>
                    </ol>
            </div>

            <div class="quadrant4">
                <h3>Gartner</h3>
                <p>has done great things for the IT industry by boldly creating standards for what sets a company ahead in this competitive world and providing the unbiased research for the technologies we will experience tomorrow.</p>

            </div>
        </section>

    </div>
<%- include('partials/footer.ejs') %>