<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Why should YOU care?</title>
<%- include('partials/header.ejs') %>
        <h1>Why should you care?</h1>

        <img src="img/FunView.png" alt="How different people view MQ" style="width: 500px" />

        <section class="column">
            <div class="quadrant2">
                <h2>Expanding Product</h2>
                <p>Larger companies when looking to expand their product line or get better positioning in the market definitely do pay some attention to the start-ups on the quadrant</p>
            </div>
            <div class="quadrant3">
                <h2>Selling/Buying Software</h2>
                <p>
                    Gartner's Quadrant is important for anyone selling to IT professional because buyers of technology care about what Gartner has to say.
                </p>
            </div>
        </section>

        <section class="column">
            <div class="quadrant1">

                <h2>Researching prospecting employer?</h2>

            </div>
            <div class="quadrant4">
                <h2>Master Technology Trends!</h2>
            </div>
        </section>

        <div class="footer">
            <p>References:<br />
            <a href="https://zoom.us/gartner">https://zoom.us/gartner</a>
            <a href="https://www.veeam.com/blog/gartner-magic-quadrant-for-it-pros.html">https://www.veeam.com/blog/gartner-magic-quadrant-for-it-pros.html</a>
            <a href="http://www.beyondvc.com/2010/02/the-gartner-magic-quadrant-a-necessary-evil-in-it.html">http://www.beyondvc.com/2010/02/the-gartner-magic-quadrant-a-necessary-evil-in-it.html</a>
            </p>
        </div>
        
    </div>
<%- include('partials/footer.ejs') %>